body{
    background-color: rgb(216, 9, 106);
}
.yo{
    padding: 130px;
    margin: 30px;
    background-color: rgb(216, 9, 106);
}
.flex{
    display: flex;
}

.green{
    padding-bottom: 670px;
     background-color: rgb(195, 117, 231);
}
.blue{
     padding-bottom: 350px;
    margin-top: 40px;
    background-color: rgb(195, 117, 231);

}