body{
    background-color:rgb(235, 0, 164);
}
.yo{
    padding: 130;
    margin: 30;
    background-color: rgb(235, 0, 164);
}
.flex{
    display: flex;
}

.red{
    padding-right: 450px;
    background-color: rgb(194, 161, 216);
}
.yellow{
    padding-bottom: 670px;
    background-color: rgb(194, 161, 216);
}
.blue{
    padding-bottom: 350;
    background-color:  rgb(194, 161, 216);
}
